.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-text);
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

    &__section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    &__infos {
        p {
            width: 100%;
            margin: auto 25%;
            padding-bottom: 1rem;
        }
        span {
            font-weight: bold;
        }
    }
}