.navbar-scrolled {
    background-color: var(--text);
    z-index: 1;
    .navbar__logo, .navbar__link {
        color: var(--background);
    }
}

.navbar {
    font-family: 'Bungee', sans-serif;
    color: var(--text);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    transition: .3s ease-in;
    

    &__logo {
        font-size: 2rem;
    }
    
    &__logo, &__link {
        padding: 1rem;   
    }
    
    :where(&__logo, &__link):hover{
        cursor: pointer;
        background-color: var(--text);
        color: var(--background);
        border-radius: 5px;
    }
    
    &__list{
        display: flex;
        list-style: none;
    }
}