:root {
    --background:#6B9080;
    --dark-text: #A4C3B2;
    --medium:#CCE3DE;
    --nav: #EAF4F4;
    --text: #F6FFF8;
}
body {
    background-color:var(--background);
    color: var(--text);
    font-size: 16px;
}